body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100%;
    position: relative;
}
header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0; /* Reduzido para diminuir a altura */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo {
    max-width: 100px; /* Reduzido para diminuir o tamanho da logo */
    margin-left: 10px;
}
.header-links {
    margin-right: 10px;
}
.header-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px; /* Reduzido para diminuir o tamanho da fonte */
}
.header-links a:hover {
    text-decoration: underline;
}
main {
    margin-top: 60px; /* Adicionado para compensar a altura do cabeçalho */
    padding: 20px;
    text-align: center;
}
.event-details img {
    max-width: 300px;
    border-radius: 5px;
}
.event-details h1 {
    margin-top: 20px;
    font-size: 24px;
}
.event-details p {
    font-size: 18px;
    color: #555;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: relative;
    bottom: 0;
    width: 100%;
}
